* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    display: flex;
    width: 100vw;
    height: 110px;
    background-color:var(--main-white);
    border-bottom: 1.5px solid var(--main-black);
}
.wrap__nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.nav__logo {
    width: 205px;
    border-right: 1.5px solid var(--main-black);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__img {
    
}
.nav__ul {
    width: 42%;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.nav__ul > li {
    list-style-type: none;
}
.nav__link {
    text-decoration: none;
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-black);
    margin-right: 80px;
}
/*эффект при наведении*/
.nav__link:hover {

}

.nav__span {
    width: 575px;
    background-color: var(--main-yel);
    height: 100%;
    border-left: 1.5px solid var(--main-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.span__btn {
    width: 118px;
    margin-right: 75px;
    height: auto;
    background-color: var(--main-yel);
    border: none;
    border-bottom: 1px solid var(--main-black);
}
.span__btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.btn__t {
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-black);
}