* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    /* display: flex; */
    /* display: grid; */
    width: 100vw;
    height: 110px;
    background-color:var(--main-white);
    border-bottom: 1.5px solid var(--main-black);
}
.wrap__nav {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 13rem 1fr 36rem;
    grid-template-rows: 1fr;
}
.nav__logo {
    background: url(../../images/logo.svg) center center no-repeat;
    width: 13rem;
    border-right: 1.5px solid var(--main-black);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__ul {
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* .nav__ul:first-child {
    margin-left: 25%;
} */

.nav__ul > li {
    list-style-type: none;
    width: auto;
}
.nav__ul > li:first-child {
    margin-left: 5%;
}
.nav__link {
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-black);
    padding-right: 80px;
    display: block;
    text-decoration: none;
    position: relative;
}
.nav__link::after {
    content: "";
    background: #FFDB4D;
    mix-blend-mode: multiply;
    width: 58%;
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: var(--main-black);
}
.nav__link:hover::after{
	height: 70%;
}

.nav__span {
    display: block;
    width: 36rem;
    background-color: var(--main-yel);
    height: 100%;
    border-left: 1.5px solid var(--main-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.span__btn {
    width: 118px;
    margin-right: 75px;
    height: auto;
    background-color: var(--main-yel);
    border: none;
}
.span__btn::after {
    content: "";
    display: block;
    padding-top: 5px;
    border-bottom: 1px solid #000;
}
.span__btn:hover {
    cursor: pointer;
    background-color: #000;
    transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.btn__t:hover {
    color: var(--main-yel);
}

.btn__t {
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-black);
}
@media screen and (max-width: 1245px) {
    .nav__link {
    padding-right: 75px;
}
    
}
@media screen and (max-width: 1245px) {
    .nav__link {
    padding-right: 70px;
}
    
}

@media screen and (max-width: 1024px) {
    .nav__logo {
        width: 10.5rem;
    }
    .wrap__nav {
        grid-template-columns: 10.5rem 1fr 20rem;
    }
    .nav__span {
        width: 20rem;
    }
    
}
@media screen and (max-width: 1213px) {
    .nav__link {
    padding-right: 65px;
    }
}
@media screen and (max-width: 1200px) {
    .nav__link {
    padding-right: 60px;
    }
}
@media screen and (max-width: 1182px) {
    .nav__link {
    padding-right: 55px;
    }
}
@media screen and (max-width: 1166px) {
    .nav__link {
    font-size: 13px;
    padding-right: 45px;
    }
}

@media screen and (max-width: 1120px) {
    .wrap__nav {
    grid-template-columns: 10rem 1fr 30rem;
}
    .nav__logo {
        background: url(../../images/logo2.svg) center center no-repeat;
    }
    .nav__ul {
        justify-content: space-evenly;
        margin-left: 2rem;
    }
    .nav__span {
    width: 30rem;
    display: flex;
    justify-content: center;
    }
}
@media screen and (max-width: 995px) {
    .wrap__nav {
        grid-template-columns: 10rem 1fr 28rem;
    }
    .nav__span {
        width: 28rem;
    }
}

@media screen and (max-width: 965px) {
    .nav__ul {
        margin-left: 0;
    }  
}

@media screen and (max-width: 932px) {
    .nav__link {
        font-size: 12px;
    }
}

@media screen and (max-width: 917px) {
    .wrap__nav {
        grid-template-columns: 10rem 1fr 23rem;
    }
    .nav__span {
        width: 23rem;
    }
}

@media screen and (max-width: 837px) {
    .wrap__nav {
        grid-template-columns: 10rem 1fr 20rem;
    }
    .nav__span {
        width: 20rem;
    }
}
@media screen and (max-width: 839px) {
    .wrap__nav {
        grid-template-columns: 10rem 1fr 15rem;
    }
    .nav__span {
        width: 15rem;
    }
}

@media screen and (max-width: 780px) {
    .wrap__nav {
        grid-template-columns: 10.5rem 1fr 10.5rem;
    }
    .nav__span {
        width: 10.5rem;
        display: flex;
        justify-content: center;
    }
    .nav__link {
        font-size: 12px;
    }
    .btn__t {
        font-size: 12px;
    }
    .span__btn {
        width: 6rem;
        margin: 0 auto;
    }
    .nav__logo {
        background: url(../../images/logo2.svg) center center no-repeat;
    }

    
}

