.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.grid__project {
    width: 720px;
    border: 1.5px solid var(--main-black);
    padding: 90px 85px;
    margin: 0;
    border-top: none;
    height: auto;
}
 /* section.grid__project::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: red;
    color: red;
    z-index: 200;
}  */
.grid__project:nth-child(2n) {
    border-left: none;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* grid-auto-rows: auto; */
}

@media screen and (max-width: 1420px) {
    .grid__project {
        width: 640px;
    }
}
@media screen and (max-width: 1280px) {
    .grid__project {
        width: 630px;
    }
}
@media screen and (max-width: 1165px) {
    .grid__project {
        width: 720px;
    }
}
@media screen and (max-width: 1165px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .grid__project:nth-child(2n) {
        border-left: 1.5px solid var(--main-black);
    }
 }
 @media screen and (max-width: 605px) {
    .grid__project {
        width: 610px;
    }
    
 }
 
 @media screen and (max-width: 460px) {
    .grid__project {
        padding: 50px 20px;
        width: 350px;
    }
    
 }
 @media screen and (max-width: 370px) {
    .grid__project {
        padding: 50px 20px;
        width: 330px;
    }
    
 }

 @media screen and (max-width: 330px) {
    .grid__project {
        padding: 50px 20px;
        width: 320px;
    }
    
 }

 /* кнопка "посмотреть еще"  */

 .btn__wrappper {
    width: 100vw;
    height: 90px;
    background-color: var(--main-yel);
    border: 1px solid var(--main-black);
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}
.btn__wrappper > button {
    background-color: var(--main-yel);
    border: none;
}
.btn__wrappper > button:hover {
    cursor: pointer;
}
.btn__text {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: var(--main-black);
}
.btn__text > img {
    margin-left: 10px;
}
.btn__wrappper:hover {
    cursor: pointer;
}
.btn__wrappper:active {
    background-color: #ffd83d;
}

/*media-quaries*/
@media screen and (max-width: 1280px) {
    .btn__wrappper {
        height: 80px;
    }
}

@media screen and (max-width: 500px) {
    .btn__wrappper {
        height: 70px;
    }
    .btn__text {
        font-size: 20px;
    }
}

@media screen and (max-width: 460px) {
    .btn__wrappper {
        height: 65px;
    }
    .btn__text {
        font-size: 18px;
    }
}

@media screen and (max-width: 370px) {
    .btn__wrappper {
        height: 65px;
    }
    .btn__text {
        font-size: 15px;
        display: flex;
        align-items: baseline;
    }
    .btn__text > img {
        width: 35px;
        margin-left: 8px;
    }
}
 