/* .project__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
} */
/* 
.grid__project {
    width: 720px;
    border: 1.5px solid var(--main-black);
    padding: 90px 85px;
    margin: 0;
    border-top: none;
    height: auto;
} */
/* .one__project {
    width: 720px;
    border: 1.5px solid var(--main-black);
    padding: 90px 85px;
    margin: 0;
    border-top: none;
    height: auto;
} */
/* 
.grid__project:nth-child(1) {
    width: 100vw;
    height: 100%;
    background-color: brown;
} */
/* .grid__project:first-of-type {
    background-color: blanchedalmond;
    width: 100vw;
}  */

/* .grid__project #01 {
    background-color: red;
    width: 100vw;
} */
.project__name, .project__description, .project__link {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: var(--main-black);

}


.project__description {
    width: 31rem;
    height: auto;
    max-height: 15rem;
    overflow: hidden;

}

.project__link > a{
    padding-left: 5px;
    color: var(--main-black);
}

.project__link > a:hover {
    color: var(--main-yel);
    transition: all 0.2s;
}


.project__img {
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: contain;
}
@media screen and (max-width: 1210px) {
    .project__description {
        width: 28rem;
        font-size: 20px;
    }
    .project__name, .project__link {
        font-size: 20px;
    }
    .project__wrapper {
        row-gap: 1rem;
        grid-template-rows: 2rem 15rem 3.5rem 23rem 6rem;
    }
}
@media screen and (max-width: 1165px) {
    .project__wrapper {
        grid-template-rows: 2rem 15rem 4rem 27rem 6rem;
    }
}
@media screen and (max-width: 503px) {
    .project__description {
        width: 27rem;
        line-height: normal;
    }
}
 
@media screen and (max-width: 460px) {
   .project__description, .project__link, .project__name {
        font-size: 12px;
   }
    .project__description {
        width: 19rem;
    }
    .project__wrapper {
        grid-template-rows: 2rem 8rem 2.5rem 15rem 6rem;
    }
}
@media screen and (max-width: 370px) {
    .project__description {
        width: 17rem;
    }
    
}

@media screen and (max-width: 315px) {
    .project__wrapper {
        grid-template-rows: 2rem 13rem 2.5rem 13.5rem 5rem;
    }
    
}
