
.one__project {
    display: block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1rem 15rem 4rem;
    row-gap: 2rem;
}
.project__place {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: var(--main-yel);
    margin-bottom: 20px;
}
.project__place::first-letter {
    color: var(--main-black);
}

.project__name, .project__description, .project__link {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: var(--main-black);
    display: block;

}
.project__name {
    margin-bottom: 25px;
}


.project__description {
    display: block;
    width: 31rem;
    height: auto;
    max-height: 15rem;
    overflow: hidden;
    padding: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* количество строк */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.project__link {
    margin-bottom: 60px;
}

.project__link > a{
    padding-left: 5px;
    color: var(--main-black);
}

.project__link > a:hover {
    color: var(--main-yel);
    transition: all 0.2s;
}


.project__img {
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: contain;
    margin-top: 30px;
}

@media screen and (max-width: 1210px) {
    .project__description {
        width: 28rem;
        font-size: 20px;
    }
    .project__name, .project__link {
        font-size: 20px;
    }
    .project__wrapper {
        row-gap: 1rem;
        grid-template-rows: 2rem 15rem 3.5rem 23rem 6rem;
    }
}
@media screen and (max-width: 1165px) {
    .project__wrapper {
        grid-template-rows: 2rem 15rem 4rem 27rem 6rem;
    }
}
@media screen and (max-width: 503px) {
    .project__description {
        width: 27rem;
        line-height: normal;
    }
}
 
@media screen and (max-width: 460px) {
   .project__description, .project__link, .project__name {
        font-size: 12px;
   }
    .project__description {
        width: 19rem;
    }
    .project__wrapper {
        grid-template-rows: 2rem 8rem 2.5rem 15rem 6rem;
    }
}
@media screen and (max-width: 370px) {
    .project__description {
        width: 17rem;
    }
    
}

@media screen and (max-width: 315px) {
    .project__wrapper {
        grid-template-rows: 2rem 13rem 2.5rem 13.5rem 5rem;
    }
    
}
