* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.ov {
    overflow-x: hidden;
}

.container {
    overflow: hidden;
    width: 100vw;
    height: auto;
    margin: 100px 0 100px;
}

.container__h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 30px;    
    color: var(--main-black);
    width: 845px;
    margin-top: 30px;
    margin-bottom: 130px;
    margin-left: 30px;
    align-self: flex-start;
}

.h2__span {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.015em;
    color: var(--main-yel);
}
.rule {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 1fr;
    align-items: baseline;
    justify-content: space-around;
    column-gap: 40px;
    justify-items: stretch;
}

.rules_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(4, 1fr 50px);
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

.rules__header {
    margin-top: 40px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: var(--main-black);
}


.rules__text {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: var(--main-black);
}


.rules__span {
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: var(--main-yel);
}
.rules__span1 {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: var(--main-yel);
}
hr {
    background-color: var(--main-black);
    width: 95%;
    height: 1.5px;
    align-self: center;
    justify-self: center;
}
.attention {
    width: min-content;
}
.attention::after {
    content: "";
    display: block;
    width: auto;
    border-bottom: 4px solid var(--main-yel);
}

@media screen and (max-width: 1330px) {
    hr {
        width: 100%;
    }
    .container__h2 {
        margin-left: 10px;
    }
    
}

@media screen and (max-width: 1200px) {
    .rule {
        display: grid;
        grid-template-columns: 400px 400px;
    }
    .rules__header {
        font-size: 28px;
    }
    .rules__text {
        font-size: 24px;
    }
}

@media screen and (max-width: 985px) {
    .rule {
        display: grid;
        grid-template-columns: 300px 300px;
    }
    .rules_cont {
        width: 85vw;
    }
    .container__h2 {
        font-size: 25px;
        padding-left: 50px;
    }
    .h2__span { 
        font-size: 30px;
    }
    .rules__header {
        font-size: 25px;
    }
    .rules__text {
        font-size: 22px;
    }
    hr {
        width: 85%;
    }
}

@media screen and (max-width: 900px) {
    .rules_cont {
        width: 100vw;
    }
    
}
@media screen and (max-width: 875px) {
    .rule {
        display: grid;
        grid-template-columns: 250px 250px;
        column-gap: 10px;
    }
    .container__h2 {
        padding-left: 80px;
    }
    
}
@media screen and (max-width: 810px) {
    .rule {
        display: grid;
        grid-template-columns: 150px 250px;
        /* justify-items: center; */
        justify-items: start;
    }
    .h2__span { 
        font-size: 25px;
    }
    .rules__header {
        font-size: 22px;
    }
    .rules__span {
        font-size: 22px;
    }
    .rules__text {
        font-size: 20px;
    }
    .rules__span1 {
        font-size: 20px;
    }
    hr {
        width: 75%;
    }
    
}
@media screen and (max-width: 745px) {

     .rules__text {
        font-size: 18px;
    }
    .rules__span1 {
        font-size: 18px;
    }
    .rules__span {
        font-size: 18px;
    }
    .rules__header {
        font-size: 20px;
    }
    .rule {
        grid-template-columns: 145px 200px;
    }
    .rules_cont {
        width: 75vw;
        margin: 0 auto;
        grid-template-rows: 150px repeat(4, 200px 50px);
        grid-template-columns: 550px;
    }
    hr {
        width: 80%;
    }
    .container__h2 {
        width: 550px;
        padding-left: 20px;
    }
}
@media screen and (max-width:600px) {
    .rules_cont {
        width: 70vw;
        grid-template-columns: 450px;
    }
    hr {
        width: 90%;
    }
    .container__h2 {
        width: 450px;
    }
}

@media screen and (max-width: 520px) {
    .rules_cont {
        width: 65vw;
        margin: 0 auto;
        grid-template-rows: 130px repeat(4, 150px 50px);
        grid-template-columns: 350px;
    }
    .container__h2 {
        width: 300px;
        font-size: 18px;
        padding-left: 0;
        margin-left: 0;
    }
    .h2__span {
        font-size: 20px;
    }
    .rules__text {
        font-size: 15px;
    }
    .rules__span1 {
        font-size: 18px;
    }
    .rules__span {
        font-size: 18px;
    }
    .rules__header {
        font-size: 18px;
    }
    hr {
        width: 100%;
    }
}
@media screen and (max-width: 435px) {
    .rules_cont {
        width: 65vw;
        margin: 0 auto;
        grid-template-rows: 130px repeat(4, 150px 50px);
        grid-template-columns: 300px;
    }
    .rule {
        grid-template-columns: 100px 150px;
    }
    .container__h2 {
        width: 300px;
        font-size: 15px;
        padding-left: 0;
        margin-left: 0;
    }
    .h2__span {
        font-size: 15px;
    }
    .rules__text {
        font-size: 12px;
    }
    .rules__span1 {
        font-size: 15px;
    }
    .rules__span {
        font-size: 15px;
    }
    .rules__header {
        font-size: 15px;
    } 
    .rules__span1 {
        font-size: 12px;
    }
}
@media screen and (max-width: 380px) {
    .rules_cont {
        width: 75vw;
    }
    
}
@media screen and (max-width: 370px) {
    .rules_cont {
        grid-template-columns: 250px;
    }
    .container__h2 {
        width: 250px;
        margin-left: 0;
    }
    .container {
        margin: 60px 0 60px;
    }
    .rules__span1 {
        font-size: 12px;
    }
}
@media screen and (max-width: 320px) {
    .rules_cont {
        grid-template-columns: 230px;
    }
    .container__h2 {
        width: 230px;
        margin-bottom: 0;
        margin-left: -15px;
    }
    hr {
        width: 110%;
    }
}