.wt {
    overflow-x: hidden;
}

.wrapper {
    margin-bottom: 100px;
}

.wrapper__form {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form__wrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 65vw;
    column-gap: 40px;
    margin: 100px auto;
    justify-content: center;
    align-items: start;
    justify-items: start;
}

label {
    display: contents;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--main-black);
}

.input_textarea {
    margin-top: 20px;
    width: 30.5rem;
    height: 290px;
    padding: 0.5rem;
    background-color: var(--main-white);
    border: 1.5px solid var(--main-black);
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-black);
    resize: none;
}
.input_textarea:focus {
    border: 1px solid #FFDB4D;
    outline: none;
}

.span_inputs {
    display: flex;
    flex-direction: column;
}

.input_link {
    padding: 0.5rem;
    margin-top: 20px;
    width: 410px;
    height: 60px;
    background-color: var(--main-white);
    border: 1.5px solid var(--main-black);
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-black);
    margin-bottom: 50px;
}
.input_link:focus {
    border: 1px solid #FFDB4D;
    outline: none;
}
.span_inputs { 
    position: relative;
}

.button_label {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    width: 255px;
    height: 45px;
    background-color: var(--main-white);
    border: 1.5px solid var(--main-black);
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-black);
    z-index: 1000;
}
.button_label:hover {
    cursor: pointer;
    background-color: #fff;
    color: #FFDB4D;
    transition: .1s color;
}
.button_label:focus {
    border: 1px solid #FFDB4D;
    outline: none;
}
.button_label:active {
    background-color: #FFDB4D;
    color: #fff;
    border: 1.5px solid #000;
    cursor: pointer; 
}
.input_file {
    position: absolute;
    top: 210px;
    left: 9vw;
    z-index: 1;
}

.input__annotation {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: var(--main-black);
    max-width: 445px;
    margin-top: 15px;
}

/*стили для кнопки "отправить/подать"*/

.btn_23,
.btn_23 *,
.btn_23 :after,
.btn_23 :before,
.btn_23:after,
.btn_23:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn_23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #fff;
  background-image: none;
  color: #FFDB4D;
  cursor: pointer;
  font-family:'Ruda', sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn_23:disabled {
  cursor: default;
}
.btn_23:-moz-focusring {
  outline: auto;
}
.btn_23 svg {
  display: block;
  vertical-align: middle;
}
.btn_23 [hidden] {
  display: none;
}
.btn_23 {
  margin-top: 35px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  border: 1.5px solid var(--main-yel);
  width: 250px;
  height: 60px;
}
.btn_23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}
.btn_23 .marquee {
  --spacing: 6.5em;
  --start: 0em;
  --end: 6.5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #FFDB4D var(--spacing) 0, #FFDB4D calc(var(--spacing) * -1) 0,
    #FFDB4D calc(var(--spacing) * -2) 0;
}

.btn_23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}
.btn_23:hover .text {
  opacity: 0;
}
.btn_23:active {
    background-color: #FFDB4D;
    color: #fff;
    border: 1.5px solid #000;
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}
@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}
/*заканчиваются стили для кнопки*/

/*медиа-запросы*/

@media screen and (max-width:1024px) {
    label {
        font-size: 20px;
    }
    .btn_23 {
        font-size: 20px;
    }
}

@media screen and (max-width: 950px) {
    .form__wrp {
        width: 95vw;
        column-gap: 20px;
    }
    
}
@media screen and (max-width: 920px) {
    .form__wrp {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 65vw;
        row-gap: 20px;
        grid-auto-flow: dense;
}
    .span_inputs {
        grid-column: 1;
        grid-row: 1;
    }
    .input_link {
        margin-bottom: 40px;
    }
    .btn_23 {
        margin-top: 10px;
    }

}
@media screen and (max-width: 750px) {
    label, .input__annotation, .btn_23 {
        font-size: 18px;
    }
    .input_file, .input_link {
        font-size: 16px;
    }
    
}
@media screen and (max-width: 530px) {
    .input_textarea {
        width: 410px;
    }
    
}
@media screen and (max-width: 420px) {
    .input_link,  .input_textarea, .input__annotation{
        width: 350px;
    }
    .span_inputs span {
        width: 240px;
    }
    
}
@media screen and (max-width: 380px) {
    .input_link,  .input_textarea, .input__annotation{
        width: 320px;
        font-size: 15px;
    }
    .span_inputs span {
        width: 210px;
    }
}

@media screen and (max-width: 340px) {
    .input_link,  .input_textarea, .input__annotation{
        width: 285px;
        font-size: 15px;
    }
    .span_inputs span {
        width: 210px;
    }
    label, .btn_23 {
        font-size: 17px;
    }
}

/*медиазапросы для кнопки "добавить файл"*/
@media screen and (max-width: 1925px) {
    .input_file {
        left: 9vw;
    }
}

@media screen and (max-width: 1445px) {
    .input_file {
        left: 10vw;
    }
}
@media screen and (max-width: 1030px) {
    .input_file {
        left: 13.5vw;
    }
}

@media screen and (max-width: 1030px) {
    .input_file {
        top: 200px;
        left: 18vw;
    }
} 

@media screen and (max-width: 430px) {
    .input_file {
        top: 200px;
        left: 27.5vw;
    }
} 

@media screen and (max-width: 400px) {
    .button_label {
        width: 200px;
    }
    .input_file {
        top: 200px;
        left:16vw;
    }
    
}
@media screen and (max-width: 340px) {
    .button_label {
        width: 180px;
    }
    .input_file {
        top: 200px;
        left:13vw;
    }
    
}
