
.container {

  height: 30px;
  z-index: 1000;
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
}
.burger_btn {
  width: 30px;
  height: 20px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.burger_btn::before {
content: "";
position: absolute;
top: 0;
width: 30px;
background-color: var(--main-yel);
height: 3px;
}
.burger_btn span {
  position: absolute;
top: 9px;
width: 30px;
background-color: var(--main-white);
border: 1px solid var(--main-black);
height: 2px;
}
.burger_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  background-color: var(--main-yel);
  height: 3px;
}
/* медиа запросы */
@media screen and (max-width: 1024px) {


}
@media screen and (max-width: 1120px) {

}
@media screen and (max-width: 780px) {


  
}

