.container__info {
    margin-top: 50px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

}

.line {
    width: 100%;
    height: 0.5px;
    margin-right: 35px;
    background-color: #000;
}

.info__name {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--main-black);
    padding-right: 35px;
    justify-self: flex-start;

}

.info__status {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: var(--main-black);
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: 30px;
    white-space: nowrap;
}

.container__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid black;
    margin-bottom: 45px;
}

.date__btn {
    display: block;
    padding: 20px 55px;
    margin: 50px 0 60px;
    width: 215px;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: var(--main-black);
    background-color: var(--main-white);
    border: 1.5px solid var(--main-black);
}
.date__btn:active {
    opacity: 0.9;
}

.date {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--main-black);
    display: block;
}

@media screen and (max-width: 1200px) {
    .info__name {
        font-size: 35px;
    }
}
@media screen and (max-width: 860px) {
    .info__name {
        font-size: 32px;
    }
}
@media screen and (max-width: 500px) {
    .line {
        display: none;
    }
    .info__name {
        display: inline;
    }
    .info__name::after {
        content: "";
        width: 90vw;
        height: 1px;
        margin: 15px 0;
        background-color: #000;
        display: block;
    }
    .info {
        flex-direction: column;
        align-items: flex-start;
    }
    .info__status {
        font-size: 22px;
    }
}

@media screen and (max-width: 410px) {
    .info__name {
        font-size: 30px;
    }
    .info__name::after {
        margin: 10px 0;
        
    }
    .info__status {
        font-weight: 500;
    }
   
}
@media screen and (max-width: 325px) {
    .info__name {
        font-size: 28px;
    }
    .info__status {
        font-size: 20px;
    }
    .date {
        font-size: 18px;
    }
}