.wo {
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.text {
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: var(--main-black);
    display: block;
    margin: 30px auto 150px;
    text-align: justify;
}



@media screen and (max-width: 1025px) {
    .text {
        font-size: 22px;
    }
    
}

@media screen and (max-width: 925px) {
    .text {
        width: 650px;
    }
    
}
@media screen and (max-width: 735px) {
    .text {
        font-size: 20px;
        width: 510px;
    } 
}
@media screen and (max-width: 575px) {
    .text {
        font-size: 18px;
        width: 460px;
    } 
}
@media screen and (max-width: 515px) {
    .text {
        font-size: 18px;
        width: 400px;
    } 
}
@media screen and (max-width: 465px) {
    .text {
        font-size: 15px;
        width: 350px;
        margin-top: 100px;
    } 
}
@media screen and (max-width: 390px) {
    .text {
        font-size: 15px;
        width: 280px;
        margin-top: 110px;
        margin-bottom: 100px;
    } 
}
@media screen and (max-width: 345px) {
    .text {
        font-size: 15px;
        width: 260px;
        margin-top: 110px;
        
    } 
}