* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.main {
    width: 100vw;
    background-color: var(--main-white);
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 36rem;
    grid-template-rows: 1fr;
    justify-content: flex-end;
}
.leftBlock {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    height: 80%; */
    width: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.main__alltext {
    width: 500px;
    height: 360px;
    display: block;
    margin-right: 255px;
}

.main__h1 {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: var(--main-black);

}
.main__h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: var(--main-black);
}

.main__btn {
    width: 290px;
    height: 80px;
    background-color: var(--main-yel);
    border: none;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #241C17;
    margin-top: 45px;
}
.btn__arr {
    padding-left: 25px;
}

.main__btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.rightBlock {
    display: block;
    width: 36rem;
    height: 80vh;
    border-left: 1.5px solid var(--main-black);
    background-color: var(--main-yel);
    justify-self: flex-end;
}

.main__line {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #241C17;
}

.blackline {
    width: 100vw;
    height: 5vh;
    display: block;
    background-color: var(--main-black);
    overflow-x: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.line__text {
    color: var(--main-white);
    font-family: 'Sintony', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-right: 50px;
    /* position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 10s; */
}


/* @keyframes run {
    0% {
        left: 0;
      }
      100% {
        left: 100%;
}
   
} */
.line__text > img {
    width: 7px;
    height: 7px;
    margin-left: 50px;
}