.container {
    width: 100vw;
    height: 100%;

}

.container__header {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid var(--main-black);
    border-bottom: 1.5px solid var(--main-black);
}

.header__h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 59px;
    color: var(--main-black);
    padding: 115px 75px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* grid-auto-rows: auto; */
}

@media screen and (max-width: 1280px) {
    .header__h2 {
        padding: 105px 75px;
    }    
}

@media screen and (max-width: 1030px) {
    .header__h2 {
        font-size: 40px;
        padding: 80px 65px;
    }    
}

@media screen and (max-width: 910px) {
    .header__h2 {
        font-size: 30px;
        padding: 70px 65px;
    }    
}

@media screen and (max-width: 810px) {
    .header__h2 {
        font-size: 27px;
        padding: 65px ;
    }    
}

@media screen and (max-width: 720px) {
    .header__h2 {
        padding: 40px 35px ;
    }    
}
@media screen and (max-width: 500px) {
    .header__h2 {
        padding: 30px 25px;
        font-size: 22px;
    }    
}
@media screen and (max-width: 390px) {
    .header__h2 {
        padding: 20px;
        font-size: 20px;
    }    
}

@media screen and (max-width: 340px) {
    .header__h2 {
        padding: 10px 15px;
        font-size: 18px;
    }    
}