.prikol {

}

.wr {
    overflow-x: hidden;
}
.container {
    width: 100vw;
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; */
}
.container__h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 59px;
    color: var(--main-black);
    margin: 90px 0 90px 80px;
}