.years {
    display: flex;
    flex-direction: column-reverse;
}
.year__h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 59px;
    color: var(--main-black);
}

@media screen and (max-width: 1200px) {
    .year__h2 {
        font-size: 40px;
    }  
}

@media screen and (max-width: 860px) {
    .year__h2 {
        font-size: 35px;
    }
    
}

@media screen and (max-width: 340px) {
    .year__h2 {
        font-size: 30px;
    }
    
}


