.wrap__section {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.year_flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.one_block{
    width: 100vw;
    background-color: var(--main-white);
    border: 1.5px solid var(--main-black);
    border-left: none;
    border-right: none;
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.block_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.one_block:last-child {
    background-color: var(--main-yel);
}
.one_block:first-child {
    margin-bottom: 300px;
} 
.one_block {
    cursor: pointer;
}
.year__h2 {
    display: block;
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 59px;
    color: var(--main-black);
}





.year__block {
    width: 100vw;
    background-color: var(--main-white);
    border: 1.5px solid var(--main-black);
    border-left: none;
    border-right: none;
    padding: 50px 90px;
    margin: 0;

}


.year__block:first-child {
    background-color: var(--main-yel);
}
.year__block:last-child {
    margin-bottom: 300px;
} 

@media screen and (max-width: 1200px) {
    .year__h2 {
        font-size: 40px;
    }  
}

@media screen and (max-width: 860px) {
    .year__h2 {
        font-size: 35px;
    }
    
}

@media screen and (max-width: 340px) {
    .year__h2 {
        font-size: 30px;
    }
    
}






/* .arrow_wrap img:hover, 
.arrow_wrap p,
.accordeon__title {
    cursor: pointer;
} */



@media screen and (max-width: 1200px) {

    .arrow_wrap img {
        width: 45px;
        height: 25px;
    }
}
@media screen and (max-width: 900px) {
    .preekol {
        padding: 50px 70px;
    }
    
}
@media screen and (max-width: 730px) {
    .preekol {
        padding: 50px;
    }
    .arrow_wrap img {
        width: 35px;
        height: 22px;
    }
    .arrow_wrap p {
        font-size: 35px;
    }
    
}
@media screen and (max-width: 640px) {
    .preekol {
        padding: 50px 40px;
    }

    
}
@media screen and (max-width: 560px) {
    .preekol {
        padding: 50px 25px;
    } 
}
@media screen and (max-width: 500px) {
    .preekol {
        padding: 50px 20px;
    } 
    .arrow_wrap p {
        font-size: 30px;
    }
}
@media screen and (max-width: 410px) {
    .preekol {
        padding: 50px 15px;
    } 
    .arrow_wrap img {
        width: 30px;
        height: 20px;
    }
    .arrow_wrap p {
        font-size: 25px;
    }
}