.main_wrap {
    overflow-x: hidden;
    width: 100vw;
    height: 9rem;
    background-color: var(--main-black);
    display: grid;
    grid-template-columns: 205px 1fr;
    grid-template-rows: 1fr;
}

.wrap__logo {
    background: url(../../images/logo_white.svg) center center no-repeat;
    width: 205px;
    height: 100%;
    border-right: 1px solid var(--main-white);
    display: block;
}

.wrap__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.wrap__content > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.content__link {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--main-white);
    padding-left: 5rem;
}
.content__link:hover {
    color: var(--main-yel);
    transition: .3s;
}

.content__btn {
    background-color: var(--main-black);
    border: none;
    width: auto;
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--main-white);
    border-bottom: 1px solid var(--main-white);
    margin-right: 4.5rem;
}
.content__btn::after {
    content: "";
    display: block;
    padding-top: 5px;
    border-bottom: 1px solid var(--main-white);
}

.content__btn:hover::after {
    border-bottom: 1px solid var(--main-yel);
}

.content__btn:hover {
    cursor: pointer;
    color: #000;
    background-color: var(--main-yel);
    transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-bottom: 1px solid var(--main-yel);
}

@media screen and (max-width: 1024px) {
    .wrap__logo {
        width: 10.5rem;
    }
    .content__link {
        padding-left: 3rem;
    }
    .main_wrap {
        grid-template-columns: 10.5rem 1fr;
    }
    .content__btn {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 830px) {
    .main_wrap {
        grid-template-columns: 9rem 1fr;
    }
    .main_wrap {
        height: 7rem;
    }
    .wrap__logo {
        width: 9rem;
    }
    .content__link {
        font-size: 12px;
        padding-left: 2.5rem;
    }
    .content__btn {
        font-size: 12px;
        margin-right: 2.5rem;
    }
}
@media screen and (max-width: 660px) {
    .content__link {
        padding-left: 1.5rem;
    }
    .content__btn {
        margin-right: 1.5rem;
    }
    
}
