* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100vw;
    background-color: var(--main-white);
    height: 35%;
    display: grid;
    grid-template-columns: 1fr 36rem;
    grid-template-rows: 1fr;
    justify-content: flex-end;
}
.leftBlock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main__alltext {
    width: 500px;
    height: 360px;
    display: block;
    margin-right: 55px;
}

.main__h1 {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: var(--main-black);

}
.main__h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: var(--main-black);
}

.main__btn {
    width: 290px;
    height: 80px;
    background-color: var(--main-yel);
    border: none;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #241C17;
    margin-top: 45px;
}
.btn__arr {
    padding-left: 25px;
}

.main__btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.rightBlock {
    display: block;
    width: 36rem;
    height: 80vh;
    border-left: 1.5px solid var(--main-black);
    background-color: var(--main-yel);
    justify-self: flex-end;
}

.main__line {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #241C17;
}

.blackline {
    width: 100vw;
    height: 100%;
    display: block;
    background-color: var(--main-black);
    overflow-x: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.line__text {
    color: var(--main-white);
    font-family: 'Sintony', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-right: 50px;
    /* position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 10s; */
}


/* @keyframes run {
    0% {
        left: 0;
      }
      100% {
        left: 100%;
}
   
} */
.line__text > img {
    width: 7px;
    height: 7px;
    margin-left: 50px;
}

@media screen and (max-width:1280px) {
    .main__alltext {
        margin-right: 0;
    }
    .main__h1 {
        font-size: 55px;
    }
    .main__h2 {
        font-size: 50px;
    }
    
}

@media screen and (max-width: 1024px) { 
    .main {
        grid-template-columns: 1fr 20rem;
    }
    .rightBlock {
        width: 20rem;
    }
    
}

@media screen and (max-width: 1120px) {
    .main {
    grid-template-columns: 1fr 30rem;
    }
   .rightBlock {
    width: 30rem;
   }
   .leftBlock {
    align-items: flex-end;
   }
}
@media screen and (max-width: 1015px) {
    .main__h1 {
        font-size: 50px;
    }
    .main__h2 {
        font-size: 45px;
    }
    .leftBlock {
        align-items: center;
    }
    .main__alltext {
        width: 350px;
        margin-right: 20px;
    }
    .main__btn {
        width: 270px;
        height: 70px;
    }
}

@media screen and (max-width: 995px) {
    .main {
        grid-template-columns: 1fr 28rem;
        }
    .rightBlock {
        width: 28rem;
       }
    .leftBlock {
        align-items: center;
       }
    
}

@media screen and (max-width: 917px) {
    .main {
        grid-template-columns: 1fr 23rem;
    }
    .rightBlock {
        width: 23rem;
    }
    .leftBlock {
        justify-content: center;
    }
    .main__h1 {
        font-size: 45px;
    }
    .main__h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 837px) {
    .main {
        grid-template-columns: 1fr 20rem;
    }
    .rightBlock {
        width: 20rem;
    }
}

@media screen and (max-width: 839px) {
    .main {
        grid-template-columns: 1fr 15rem;
    }
    .rightBlock {
        width: 15rem;
    }
}

@media screen and (max-width:780px) {
    .main {
        grid-template-columns: 1fr 10.5rem;
    }
    .rightBlock {
        width: 10.5rem;
    }
    .main__btn {
        font-size: 18px;
    }
}
@media screen and (max-width: 699px) {
    .main {
        grid-template-columns: 1fr 10.5rem;
        height: 75vh;
    }
    .leftBlock {
        justify-content: center;

    }
    .main__alltext {
        width: 430px;
    }  
}

@media screen and (max-width: 612px) {
    .main__alltext {
        width: 380px;
    }
    .main__h1 {
        font-size: 40px;
    }
    .main__h2 {
        font-size: 35px;
    }
    .main__btn {
        font-size: 15px;
        width: 250px;
        height: 70px;
    }
    
}
@media screen and (max-width: 555px) {
    .main__alltext {
        width: 350px;
    }
    .main__h1 {
        font-size: 35px;
    }
    .main__h2 {
        font-size: 30px;
    }
    .main__btn {
        font-size: 15px;
        width: 230px;
        height: 60px;
    }
    
}
@media screen and (max-width: 520px) {
    .main__alltext {
        width: 300px;
    }
    
}
@media screen and (max-width: 475px) {
    .main__alltext {
        width: 280px;
    }
}

@media screen and (max-width: 699px) {
    .main {
        grid-template-columns: 1fr 7rem;
        height: 75vh;
    }
    .rightBlock {
        width: 7rem;
    }
}

@media screen and (max-width: 412px) {

    .main {
        grid-template-columns: 1fr 4.5rem;
        height: 75vh;
    }
    .leftBlock {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 5rem;
        height: 80%;
    }
    .main__alltext{ 
        width: 200px;
    }
    .rightBlock {
        width: 4.5rem;
    }
    .main__h1 {
        font-size: 35px;
    }
    .main__h2 {
        font-size: 25px;
    }
    .main__btn {
        font-size: 12px;
        width: 160px;
        height: 40px;
        margin-top: 30px;
    }
    .main__btn > img {
        display: none;
    }
    .btn__arr {
        margin-left: 15px;
        background: url(../../images/arrow_small.svg) center center no-repeat;
    }
    .main__line {
        display: none;
    }
    .blackline { 
        height: 8vh;
    }
    
}
