* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100vw;
    background-color: var(--main-white);
    height: 35%;
    display: grid;
    grid-template-columns: 1fr 36rem;
    grid-template-rows: 1fr;
    justify-content: flex-end;
}
.leftBlock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main__alltext {
    width: 500px;
    height: 360px;
    display: block;
    margin-right: 55px;
    position: relative;
}

.main__h1 {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: var(--main-black);
    z-index: 10;
    position: relative;
}
.main__yel {
    width: 310px;
    height: 30px;
    display: block;
    background-color: var(--main-yel);
    position: absolute;
    top: 35px;
}

.main__h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: var(--main-black);
}

.main__btn {
    width: 290px;
    height: 80px;
    background-color: var(--main-yel);
    border: none;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-top: 45px;
}
span.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.btn__arr {
    padding-left: 25px; 
}

.rightBlock {
    display: block;
    width: 36rem;
    height: 80vh;
    border-left: 1.5px solid var(--main-black);
    background-color: var(--main-yel);
    justify-self: flex-end;
}

.main__line {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: var(--main-black);
}

.marquee_container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--main-black);
    position: relative;
    color: #fff;
    white-space: nowrap;
    word-spacing: 20px;
    font-size: 30px;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marquee_container span {
display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}
.marquee_container .marquee {
    --spacing: 17em;
    --start: 0em;
    --end: 60em;
    -webkit-animation: marquee 50s linear infinite;
    animation: marquee 50s linear infinite;
    /* -webkit-animation-play-state: paused;
    animation-play-state: paused; */
    opacity: 0;
    position: relative;
    text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
     #fff calc(var(--spacing) * -2) 0;
  }

  .marquee_container .marquee {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    opacity: 1;
  }
  .marquee_container .text {
    opacity: 0;
  }
  .marquee_container:active {
      background-color: #FFDB4D;
      color: #fff;
      border: 1.5px solid #000;
  }
  @-webkit-keyframes marquee {
    0% {
      transform: translateX(var(--start));
    }
    to {
      transform: translateX(var(--end));
    }
  }
  @keyframes marquee {
    0% {
      transform: translateX(var(--start));
    }
    to {
      transform: translateX(var(--end));
    }
  }

/*стили для кнопки*/
.main__btn,
.main__btn *,
.main__btn :after,
.main__btn :before,
.main__btn:after,
.main__btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.main__btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #FFDB4D;
  color: #000;
  cursor: pointer;
  font-family: 'Sintony', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.main__btn:disabled {
  cursor: default;
}
.main__btn:-moz-focusring {
  outline: auto;
}
.main__btn svg {
  display: block;
  vertical-align: middle;
}
.main__btn [hidden] {
  display: none;
}
.main__btn {
  box-shadow: inset 0 0 0 2px #fff;
  box-sizing: border-box;
  display: block;
  width: 290px;
  height: 80px;
  background-color: var(--main-yel);
  margin-top: 45px;
  padding: 1.2rem 3rem;
  position: relative;
  transition: color 0.1s linear;
}
.main__btn:after,
.main__btn:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.main__btn:before {
  border-right: var(--border);
  border-top: var(--border);
  left: 0;
  top: 0;
}
.main__btn:hover:before {
  --border: 2px solid #000;
  -webkit-animation: border-top-and-right 1s forwards;
  animation: border-top-and-right 1s forwards;
}
.main__btn:after {
  border-bottom: var(--border);
  border-left: var(--border);
  bottom: 0;
  right: 0;
  z-index: -1;
}
.main__btn:hover:after {
  --border: 2px solid #000;
  -webkit-animation: border-bottom-and-left 1s forwards;
  animation: border-bottom-and-left 1s forwards;
}
@-webkit-keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@-webkit-keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
/*конец стилей для кнопки*/


@media screen and (max-width:1280px) {
    .main__alltext {
        margin-right: 0;
    }
    .main__h1 {
        font-size: 55px;
    }
    .main__h2 {
        font-size: 50px;
    }
    .main__yel {
        width: 290px;
       
    }
    .marquee {
        font-size: 25px;
    }
    
}

@media screen and (max-width: 1024px) { 
    .main {
        grid-template-columns: 1fr 20rem;
    }
    .rightBlock {
        width: 20rem;
    }
    
}

@media screen and (max-width: 1120px) {
    .main {
    grid-template-columns: 1fr 30rem;
    }
   .rightBlock {
    width: 30rem;
   }
   .leftBlock {
    align-items: flex-end;
   }
}
@media screen and (max-width: 1015px) {
    .main__h1 {
        font-size: 50px;
    }
    .main__h2 {
        font-size: 45px;
    }
    .leftBlock {
        align-items: center;
    }
    .main__alltext {
        width: 350px;
        margin-right: 20px;
    }
    .main__btn {
        width: 275px;
        height: 70px;
    }
    .main__yel {
        width: 260px;
        height: 25px;
        top: 30px;
    }
}

@media screen and (max-width: 995px) {
    .main {
        grid-template-columns: 1fr 28rem;
        }
    .rightBlock {
        width: 28rem;
       }
    .leftBlock {
        align-items: center;
       }
    
}

@media screen and (max-width: 917px) {
    .main {
        grid-template-columns: 1fr 23rem;
    }
    .rightBlock {
        width: 23rem;
    }
    .leftBlock {
        justify-content: center;
    }
    .main__h1 {
        font-size: 45px;
    }
    .main__h2 {
        font-size: 40px;
    }
    .main__yel {
        width: 235px;
        height: 25px;
        top: 25px;
    }
}

@media screen and (max-width: 837px) {
    .main {
        grid-template-columns: 1fr 20rem;
    }
    .rightBlock {
        width: 20rem;
    }
}

@media screen and (max-width: 839px) {
    .main {
        grid-template-columns: 1fr 15rem;
    }
    .rightBlock {
        width: 15rem;
    }
}

@media screen and (max-width:780px) {
    .main {
        grid-template-columns: 1fr 10.5rem;
    }
    .rightBlock {
        width: 10.5rem;
    }
    .main__btn {
        font-size: 18px;
        padding: 0;
    }
}
@media screen and (max-width: 699px) {
    .main {
        grid-template-columns: 1fr 10.5rem;
        height: 75vh;
    }
    .leftBlock {
        justify-content: center;

    }
    .main__alltext {
        width: 430px;
    }  
}

@media screen and (max-width: 612px) {
    .main__alltext {
        width: 380px;
    }
    .main__h1 {
        font-size: 40px;
    }
    .main__h2 {
        font-size: 35px;
    }
    .main__btn {
        font-size: 15px;
        width: 250px;
        height: 70px;
    }
    .main__yel {
        width: 210px;
        height: 25px;
        top: 20px;
    }
    .marquee {
        animation: none;
        font-size: 12px;
    }
    
}
@media screen and (max-width: 555px) {
    .main__alltext {
        width: 350px;
    }
    .main__h1 {
        font-size: 35px;
    }
    .main__h2 {
        font-size: 30px;
    }
    .main__btn {
        font-size: 15px;
        width: 230px;
        height: 60px;
    }
    .main__yel {
        width: 180px;
        height: 20px;
        top: 20px;
    }
    
}
@media screen and (max-width: 520px) {
    .main__alltext {
        width: 300px;
    }
    
}
@media screen and (max-width: 475px) {
    .main__alltext {
        width: 280px;
    }
}
@media screen and (max-width: 440px) {
    .leftBlock {
        align-items: center;
    }
    .main__alltext {
        width: 260px;
        margin-left: 30px;
    }
    
}

@media screen and (max-width: 699px) {
    .main {
        grid-template-columns: 1fr 7rem;
        height: 75vh;
    }
    .rightBlock {
        width: 7rem;
    }
}

@media screen and (max-width: 412px) {

    .main {
        grid-template-columns: 1fr 4.5rem;
        height: 75vh;
    }
    .leftBlock {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 5rem;
        height: 80%;
    }
    .main__alltext{ 
        width: 200px;
    }
    .rightBlock {
        width: 4.5rem;
    }
    .main__h1 {
        font-size: 35px;
    }
    .main__h2 {
        font-size: 25px;
    }
    .main__btn {
        font-size: 12px;
        width: 160px;
        height: 40px;
        margin-top: 30px;
    }
    .main__btn img {
        visibility: hidden;
    }
    .btn__arr {
        margin-left: 15px;
        padding-left: 0; 
        background: url(../../images/arrow_small.svg) center center no-repeat;
    }
    .main__line {
        display: none;
    }
    .blackline { 
        height: 8vh;
    }
    
}
